@model DataLayer.Activity

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>نمایش</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActiveImage)
        </dt>

        <dd>
            <img src="/Images/Activity/@Model.ActiveImage"/>
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.ActiveTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.ActiveID }) |
    @Html.ActionLink("بازگشت", "Index")
</p>
